// colors
$primary_color  : #fff;
$secondary_color: #000;

//main
$main_font_color :#7fcf39;
$main_font_size  : 16px;

//background colors
$primary_bg_color   : #000;
$secondary_bg_color : #fff;


// sizes
$light   : 300;
$regular : 400;
$medium  : 500;
$semibold: 600;
$bold    : 700;
$bolder  : 900;


// Typography
$font_family: 'VT323',
monospace;

//Transition
$transition: all 0.3s ease-in-out;
